@import "../../../../../styles/variables";

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.cocktailCardWrapper {
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;

  @include respond-to("medium") {
    width: 30rem;
  }
}

.cocktailImageWrapper {
  height: 17rem;

  img {
    height: 100%;
    object-fit: cover;
  }

  .cocktailImage {
    width: 100vw;

    @include respond-to("medium") {
      width: 30rem;
    }
  }
}

.cocktailTitle {
  padding: 0rem 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: $primary;
}
