@import "../../../../../styles/variables";

.header {
  display: flex;
  height: 40vh;
  position: relative;
  background-color: $secondary;

  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.45));
  }
}
