@import "../../../../../styles/variables";

.headerWrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: $white;
  color: white;

  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  padding: 1rem 0rem 1rem 1rem;
}

.searchBar {
  width: 100%;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  label {
    display: none;
  }
}

.input {
  height: 2.3rem;
  width: 100%;
  padding: 0.45rem 0.6rem;
  border: 2px solid $highlight;
  background-color: $white;
  border-radius: 0.6rem;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.45));

  &:focus {
    filter: drop-shadow(1px 1px 3px rgba(232, 69, 69, 0.45));
  }
}

.filters {
  background-color: $highlight;
  min-width: 2.3rem;
  height: 2.3rem;
  border-radius: 0.6rem;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filterIcon {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
}

// filter wrapper for when fitler is active
.filterWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $highlight;
  margin-top: 7rem;
  transform: translateX(calc(100vw + 4rem));
  transition: transform 0.3s ease-in;
}

.filterBlockActive {
  transform: translateX(0);
}

.filtersUsed {
  width: 100%;
  background-color: $highlight;
}
