@import "../../../../../styles/variables";

.header {
  position: relative;
}

.headerWrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 6.5rem;

  background-color: $white;
  color: white;

  position: fixed;
  top: 0;
  z-index: 10;

  @include respond-to("medium") {
    width: 30rem;
    margin: 0 auto;
  }
}

.logo {
  padding: 1rem 0rem 1rem 1rem;
}

.searchBar {
  width: 100%;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  label {
    display: none;
  }
}

.input {
  height: 2.3rem;
  width: 100%;
  padding: 0.45rem 0.6rem;
  border: 2px solid $highlight;
  background-color: $white;
  border-radius: 0.6rem;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.45));

  &:focus {
    filter: drop-shadow(1px 1px 3px rgba(232, 69, 69, 0.45));
  }
}

.filters {
  background-color: $highlight;
  min-width: 2.3rem;
  height: 2.3rem;
  border-radius: 0.6rem;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filterIcon {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
}

// filter wrapper for when fitler is active
.filterWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $primary;
  margin-top: 6rem;
  transform: translateY(calc(100vh + 4rem));
  transition: transform 0.3s ease-in;

  @include respond-to("medium") {
    width: 30rem;
    margin: 7rem auto 7rem 0;
  }

  h3 {
    padding: 0 1rem;
  }

  fieldset {
    border: none;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .checkboxWrapper {
    width: 45%;
    display: flex;

    label {
      height: 1.5rem;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      position: relative;
      margin-left: 1rem;
      font-size: 0.96rem;

      &::after {
        content: "";
        width: 20px;
        height: 20px;
        background-color: $primary;
        position: absolute;
        bottom: 4px;
        left: -35px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 2px #fff;
        z-index: 10;
      }
    }
    input[type="checkbox"] {
      height: 1rem;
      width: 1rem;
      border: 0px;
      background-color: $white;
      margin-right: 0.5rem;
      visibility: hidden;
    }

    input[type="checkbox"]:checked + label::before {
      content: "";
      width: 20px;
      height: 20px;
      background-color: $highlight;
      position: absolute;
      bottom: 4px;
      left: -35px;
      border-radius: 50%;
      box-shadow: 0px 0px 0px 2px #fff;
      z-index: 99;
    }
  }
}

.filterBlockActive {
  transform: translateY(0);
}

// checkbox

// filter active notification
.filtersActive {
  position: fixed;
  top: 6.5rem;
  height: 2.5rem;
  width: 100vw;
  z-index: 1;

  display: flex;
  align-items: center;

  color: white;
  background-color: $highlight;

  @include respond-to("medium") {
    width: 30rem;
  }

  .regular {
    font-weight: 500;
  }

  button {
    height: 100%;
    padding: 0.6rem 1rem;
    font-weight: 800;

    cursor: pointer;
  }
}
.filtersInactive {
  position: relative;
  margin-top: 7rem;
}

.filterNotificationWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
