@import "../../../../../styles/variables";

.header {
  position: relative;
}

.headerWrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 1rem;

  background-color: $white;
  color: white;

  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  padding: 1rem 0rem 1rem 1rem;
}

.searchBar {
  width: 100%;

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  label {
    display: none;
  }
}

.input {
  height: 2.3rem;
  width: 100%;
  padding: 0.45rem 0.6rem;
  border: 2px solid $highlight;
  background-color: $white;
  border-radius: 0.6rem;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.45));

  &:focus {
    filter: drop-shadow(1px 1px 3px rgba(232, 69, 69, 0.45));
  }
}

.filters {
  background-color: $highlight;
  min-width: 2.3rem;
  height: 2.3rem;
  border-radius: 0.6rem;
  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filterIcon {
  display: flex;
  width: 1.8rem;
  height: 1.8rem;
}

// filter wrapper for when fitler is active
.filterWrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $highlight;
  margin-top: 7rem;
  transform: translateX(calc(100vw + 4rem));
  transition: transform 0.3s ease-in;

  h3 {
    padding: 0 1rem;
  }

  fieldset {
    border: none;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  label {
    height: 1.5rem;
    width: 45%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }
  input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    border: 0px;
    background-color: $white;
    margin-right: 0.5rem;
  }
}

.filterBlockActive {
  transform: translateX(0);
}

// filter active notification
.filtersActive {
  position: relative;
  margin-top: 7rem;
  width: 100vw;
  z-index: 1;

  display: flex;
  align-items: center;

  color: white;
  background-color: $highlight;

  .regular {
    font-weight: 500;
  }

  button {
    height: 100%;
    padding: 0.6rem 1rem;
    font-weight: 800;

    cursor: pointer;
  }
}
.filtersInactive {
  position: relative;
  margin-top: 7rem;
}

.filterNotificationWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  // padding: 1rem;
}
