@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

$font-family-headers: "Montserrat", sans-serif;
$font-family: "Montserrat", sans-serif;

// fontweights for body texts
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: 600;

// font-sizes
$font-size-base: 1rem;
$line-height-base: 1.4rem;
